body { padding-top: 40px; }

.navbar .nav > li > a {
	color:  #ddd;
}

.navbar-inverse .navbar-toggle {
	color: white;
	font-weight: bold;
	border-color: white;
}
.navbar-inverse .navbar-toggle:hover {
	background-color: #ddd;
	color: #333;
}

.bg {
  background: url('/assets/jumbotron.png') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 416px; /*same height as jumbotron */
  left:0;
  z-index: -1;
}

.jumbotron {
  height: 416px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
}
