/* Changing Glyphicon Path for AssetPipeline */
@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('glyphicons-halflings-regular.eot');
  src: url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('glyphicons-halflings-regular.woff') format('woff'), url('glyphicons-halflings-regular.ttf') format('truetype'), url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/* Padding below the footer and lighter body text */
body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

/* Sizing buttons and font for small screen */
.btn-lg, .btn-group-lg > .btn {
padding: 5px 5px;
font-size: 15px;
}

h1, .h1 {
font-size: 26px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.carousel {
  margin-bottom: 50px;
}

.carousel-caption {
  position: absolute;
  z-index: 10;
}
.carousel-box {
  padding-top: 10px;
  padding-bottom: 5px;
  color: #fff;
  background-color: rgba(25,25,25,0.7);
}
.carousel-text{
  text-align: center;
  margin: 10px 20px;
}
h2.carousel-text {
  font-weight: bold;
}
p.carousel-text {
  font-size:110%;
}

.carousel-more{
  padding-top: 15px;
}

.carousel-indicators {
  bottom:0px;
}

.carousel-inner > .item > img {
  max-width: 250%;
  min-height: 275px;
  margin-left: -350px;
  margin-top: 40px;
}

/* CUSTOMIZE JUMBOTRON
-------------------------------------------------- */
.jumbotron {
  padding: 0px;
  margin-bottom: 50px;
}

.jumbo-img {
  overflow: hidden;
}
.jumbo-img > img {
  max-width: 250%;
  min-height: 275px;
  margin-left: -350px;
  margin-top: 40px;
}
/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

video {
  width: 100% !important;
  height: auto !important;
  max-width: 600px;
  border-radius: 50px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Sizing buttons and font for small screen */
  .btn-lg, .btn-group-lg > .btn {
    padding: 5px 5px;
    font-size: 18px;
  }

  h1, .h1 {
   font-size: 36px;
  }

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  /* Bump up size of carousel content */
  .carousel-inner > .item > img {
    max-width: 150%;
    min-height: 400px;
    margin-left: -100px;
    margin-top: 0px;
  }

  /* bump up size jumbotron */
  .jumbo-img > img {
    max-width: 150%;
    min-height: 400px;
    margin-left: -100px;
    margin-top: 0px;
  }  

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }

  .carousel-inner > .item > img {
    max-width: 130%;
    margin-left: -50px;
  }

  .jumbo-img > img {
    max-width: 130%;
    margin-left: -50px;
}

@media (min-width: 1445px) {
  .carousel-inner > .item > img {
    max-width: 100%;
    margin-left: 0px;
  }

  .jumbo-img > img {
    max-width: 100%;
    margin-left: 0px;
  }
}